{% extends "app/base.html" %}
{% block main%}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="row">
    <div class="col-md-6 box">
        <ul class="list-group">
          {% for leg in route %}
            <li class="list-group-item" onclick="setMarkers([{{leg.start.latitude}}, {{leg.start.longitude}}], [{{leg.finish.latitude}}, {{leg.finish.longitude}}]);">
              {% if leg.mode == 'walk' %}
              Walk from {{ leg.start.latitude }}/{{ leg.start.longitude }} to {{ leg.finish.name }}
              {% endif %}
              {% if leg.mode == 'bus' %}
              Take the {{ leg.service.name }} from {{ leg.start.name }} to {{ leg.finish.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
      <div id="map" style="height: 500px"></div>
    </div>
</div>


{% with route|first as first %}
{% with route|last as last %}
    <div id="my-div" data-first-lat="{{ first.start.latitude }}" data-first-lng="{{ first.start.longitude }}" data-last-lng="{{ last.finish.longitude }}" data-last-lat="{{ last.finish.latitude }}"></div>

    {% load staticfiles %}
    <script src="{% static "something.js" %}"></script>

{% endwith %}
{% endwith %}


{% endblock %}
