{% extends "app/base.html" %}
{% block main%}
<div class="row">
    <div class="col-md-6 box">
        <ul class="list-group">
          {% for leg in route %}
            <li class="list-group-item" onclick="setMarkers([{{leg.start.latitude}}, {{leg.start.longitude}}], [{{leg.finish.latitude}}, {{leg.finish.longitude}}]);">
              {% if leg.mode == 'walk' %}
              Walk from {{ leg.start.latitude }}/{{ leg.start.longitude }} to {{ leg.finish.name }}
              {% endif %}
              {% if leg.mode == 'bus' %}
              Take the {{ leg.service.name }} from {{ leg.start.name }} to {{ leg.finish.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
      <div id="map" style="height: 500px"></div>
    </div>
</div>
<script>
var map = L.map('map').setView([55.94440, -3.18632], 13);
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
{% with route|first as first %}
{% with route|last as last %}
var startMarker = L.AwesomeMarkers.icon({ icon: 'flag', markerColor: 'green' });
var endMarker = L.AwesomeMarkers.icon({ icon: 'flag', markerColor: 'red' });
var start = L.marker([{{ first.start.latitude}}, {{ first.start.longitude}}], {icon: startMarker}).addTo(map);
start.bindPopup("Start");
var end = L.marker([{{ last.finish.latitude}}, {{ last.finish.longitude}}], {icon: endMarker}).addTo(map);
end.bindPopup("End");
map.fitBounds([[{{ first.start.latitude}}, {{ first.start.longitude}}],[{{ last.finish.latitude}}, {{ last.finish.longitude}}]]);
{% endwith %}
{% endwith %}
function setMarkers(s, e) {
  start.setLatLng(s);
  end.setLatLng(e);
  map.fitBounds([s,e]);
}
</script>
{% endblock %}
