{% extends "app/base.html" %}
{% block main%}
<div class="row">
    <div class="col-md-6">
        <ul>
          {% for leg in route %}
            <li onclick="setMarkers([{{leg.start.latitude}}, {{leg.start.longitude}}], [{{leg.finish.latitude}}, {{leg.finish.longitude}}]);">{{ leg.mode }} from {{ leg.start.latitude }}/{{ leg.start.longitude }} to {{ leg.finish.latitude }}/{{ leg.finish.longitude }}</li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
      <div id="map" style="height: 500px"></div>
    </div>
</div>
<script>
var map = L.map('map').setView([55.94440, -3.18632], 13);
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var start = L.marker([55.925205, -3.263334]).addTo(map);
start.bindPopup("Start").openPopup();
var end = L.marker([55.925205, -3.263334]).addTo(map);
end.bindPopup("End").openPopup();

function setMarkers(s, e) {
  start.setLatLng(s);
  end.setLatLng(e);
}
</script>
{% endblock %}
